* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.banner {
	/* background-color: #0c10b0; */
	background-color: #1f2833;
}

#text-color {
	color: #66fcf1;
}

#color-c5c6c7 {
	color: #c5c6c7;
}

.blue-color,
h2 {
	color: #45a29e;
}

.blue-color {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}

.bg-custom {
	background-color: #0b0c10;
}

.bg-custom-secondary {
	background-color: #c5c6c7;
}

#fit {
	max-width: 100vw;
	font-family: 'Red Hat Mono', monospace;
}

.height {
	height: 100vh;
}

.navbar-toggler {
	background-color: #c5c6c7;
}

.about-me {
	height: 100vh;
}

#img {
	background-image: url(./img/bg2.jpg);
	background-size: cover;
	background-position: center;
}

#hello {
	color: #66fcf1;
	font-size: 300%;
}

footer {
	padding: .8rem;
	text-align: center;
}

footer span {
	margin-left: .5rem;
	margin-right: .5rem;
}

#color-primary {
	color: #0b0c10;
}

#img-resize {
	border-radius: 50%;
	width: 25%;
	margin-top: 15%;
	margin-bottom: 2%;
}
.css-font-h1 {
	font-family: 'Nanum Gothic';
	font-size: 2.5rem;
}

.css-font-h4 {
	font-family: 'Red Hat Mono', monospace;
	font-weight: lighter;
	font-size: 1rem;
}

.aboutme-text,
.calltoaction {
	font-family: 'Red Hat Mono', monospace;
}

.aboutme-text {
	font-size: 1.2rem;
}

textarea {
	resize: none;
	height: 100px;
	width: 350px;
}
